<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="">See All Celebrities</a>
      <a href="/celebrities/add-celebrity">Add A Celebrity</a>
      <a href="">See All Movies</a>
      <a href="">Add A Movie</a>
    </nav>

    {{{body}}}
  </body>
</html>
